@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
  --font: "Montserrat", system-ui, sans-serif;
  --max-width: 1400px;
  --i-padding: 0.6rem;
  --o-padding: 1.6rem;
  --radius: 10px;
  --max-radius: 40px;
  --c-lighter: #b1d0e050;
  --c-light: #fff;
  --c-medium: #6998ab60;
  --c-dark: #40688290;
  --c-darker: #fff;
  --c-elements: #000;
  --c-bg-elements: #0006;
  --c-card-main: #fff;
  --c-card-side: #000;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
html::-webkit-scrollbar {
  width: 6px;
  background: #555555;
}
html::-webkit-scrollbar-thumb {
  background: #151515;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.active {
  background: #5e7687;
  /* border-radius: 50px!Important; */
}

body {
  font-family: var(--font);
  width: 100%;
  height: 100%;
}

main {
  max-height: 100vh;
  width: 100%;
  padding-left: 62px;
  position: relative;

  /* use the following only if if you are able to scroll past the image to see a white area (this is the <body> peeking out) above or below the image */
  overflow: hidden;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("https://img.freepik.com/premium-photo/police-car-lights-night-modern-city-neural-network-generated-art_636705-8358.jpg?w=740"); */
  background-image: url("https://img.freepik.com/free-photo/security-guards-workspace_23-2150321656.jpg?w=996&t=st=1694415161~exp=1694415761~hmac=cdd18c4ea6f52c84e949c0112bdf4bc536c0e1db3dfc27c521f017df99fbcf06");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
}

main .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #375569;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 62px;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: var(--i-padding);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 2;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  border-right: solid 1px var(--c-lighter);
}
main .menu:hover,
main .menu:active {
  width: 230px;
}
main .menu .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
main .menu .avatar .thumb {
  border-radius: 50%;
  width: 100%;
  max-width: 40px;
}
main .menu .avatar .name {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main .menu:hover .avatar .name,
main .menu:active .avatar .name {
  opacity: 1;
  visibility: visible;
}
main .menu .primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
}
main .menu .primary .menu-item {
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 9px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
main .menu:hover .primary .menu-item,
main .menu:active .primary .menu-item {
  width: 100%;
}
main .menu .primary .menu-item:hover {
  background: #5e7687;
}
main .menu .primary .menu-item span:first-child {
  font-size: 21px;
}
main .menu .primary .menu-item .desc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
main .menu:hover .primary .menu-item .desc,
main .menu:active .primary .menu-item .desc {
  opacity: 1;
  visibility: visible;
}
main .menu .expander {
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
main .menu:hover .expander,
main .menu:active .expander {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

main .topbar {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 62px);
  margin-left: 62px;
  height: 60px;
  z-index: 1;
  background: #2fa4e0;
  border-bottom: solid 1px var(--c-lighter);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  padding: 0 var(--o-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}
main .topbar .search {
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  max-width: 40px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 700;
}

main.search .topbar .search {
  border-radius: var(--max-radius);
  max-width: 300px;
  cursor: default;
}
main .topbar .search label {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  font-size: 24px;
  cursor: inherit;
}
main .topbar .search .bar {
  color: #fff;
  background: unset;
  width: 100%;
  padding: 1px 10px 0 34px;
  font-size: 16px;
  border: unset;
  outline: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
main .topbar .search .bar::-webkit-input-placeholder {
  font-family: var(--font);
  color: #fff;
}
main .topbar .search .bar::-moz-placeholder {
  font-family: var(--font);
  color: #fff;
}
main .topbar .search .bar:-ms-input-placeholder {
  font-family: var(--font);
  color: #fff;
}
main .topbar .search .bar::-ms-input-placeholder {
  font-family: var(--font);
  color: var(--c-elements);
}

main .side::-webkit-scrollbar {
  width: 2px;
  background: var(--c-darker);
}

main .side {
  padding: var(--o-padding);
  /* display: grid; */
  /* gap: var(--o-padding); */
  /* align-content: flex-start; */
  overflow: overlay;
  color: #345063;
  height: calc(100vh - 0px);
  margin-top: 45px;
}

@media (min-width: 1024px) {
  :root {
    --i-padding: 1rem;
    --o-padding: 2rem;
  }

  .main-container {
    margin-top: var(--o-padding);
    -webkit-box-shadow: 0 0px 1rem #0003;
    box-shadow: 0 0px 1rem #0003;
    overflow: hidden;
  }
  main {
    min-height: 100vh;
    max-height: 100vh;
  }
  main .menu {
    width: 74px;
    position: absolute;
    top: unset;
  }
  main .menu .avatar {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  main .menu .avatar .thumb {
    max-width: 70px;
  }
  main .topbar {
    position: absolute;
    width: calc(100% - 74px);
    margin-left: 74px;
  }
  main .topbar .search {
    margin-right: unset;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    max-width: 300px;
    border-radius: var(--max-radius);
    cursor: default;
    background: var(--c-bg-elements);
  }
  main .topbar .search .bar {
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 700px) {
  main .topbar .search {
    display: none;
  }
}

.current {
  color: #fff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
