<div class="coursedetail-container">
  <div
    [ngClass]="{'alert alert-danger': invalidDate, 'd-none': !invalidDate}"
    role="alert"
  >
    {{ invalidDate }}
  </div>

  <form [formGroup]="courseConfigurationsForm" novalidate>
    <div class="form-row">
      <div class="value">
        <div class="row row-space">
          <div class="col-6">
            <div class="name">Course Title</div>
            <div class="input-group-desc">
              <input
                class="input--style-5 form-control"
                type="text"
                formControlName="courseTitle"
                [ngClass]="{ 'is-invalid': submitted && f['courseTitle'].errors }"
                autofocus
              />
              <div
                *ngIf="submitted && f['courseTitle'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['courseTitle'].errors['required']">
                  Please enter Course Title
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="name">Sponsor</div>
            <div class="input-group-desc">
              <input
                class="input--style-5 form-control"
                type="text"
                formControlName="sponsor"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="value">
        <div class="row row-space">
          <div class="col-lg-3 col-sm-6">
            <div class="name">Start Date</div>
            <div class="input-group-desc">
              <p-calendar
                [showIcon]="true"
                inputId="icon"
                formControlName="startDate"
                [ngClass]="{ 'is-invalid': submitted && f['startDate'].errors }"
                class="date"
                (onSelect)="ValidateConfirmTraining()"
              ></p-calendar>
              <div
                *ngIf="submitted && f['startDate'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['startDate'].errors['required']">
                  Please enter Course Start Date
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="name">End Date</div>
            <div class="input-group-desc">
              <p-calendar
                [showIcon]="true"
                inputId="icon"
                formControlName="endDate"
                [ngClass]="{ 'is-invalid': submitted && f['endDate'].errors}"
                class="date"
                (onSelect)="ValidateConfirmTraining()"
              ></p-calendar>
              <!-- (onSelect)="endDateValidation($event)" -->
              <div
                *ngIf="submitted && f['endDate'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['endDate'].errors['required']">
                  Please enter Course End Date
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="name">Course Hours</div>
            <div class="input-group-desc">
              <p-inputNumber
                mode="decimal"
                [showButtons]="true"
                inputId="minmax-buttons"
                formControlName="courseHours"
                [ngClass]="{ 'is-invalid': submitted && f['courseHours'].errors }"
                [min]="0"
              ></p-inputNumber>
              <div
                *ngIf="submitted && f['courseHours'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['courseHours'].errors['required']">
                  Please enter Course Hours
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="name">Course Fee</div>
            <div class="input-group-desc">
              <p-inputNumber
                mode="currency"
                currency="USD"
                locale="en-US"
                [minFractionDigits]="2"
                formControlName="courseFee"
                [ngClass]="{'is-invalid': submitted && f['courseFee'].errors }"
                styleClass="currency"
              ></p-inputNumber>
              <div
                *ngIf="submitted && f['courseFee'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['courseFee'].errors['required']">
                  Please enter Course Fees
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="name">Location</div>
      <div class="">
        <label class="radio-container">
          In Department
          <input
            type="radio"
            name="inSideLocation"
            value="inDepartment"
            [checked]="!isOutsideDepartment"
            (input)="location($event)"
          />
          <span class="checkmark"></span>
        </label>
        <label class="radio-container">
          Out of Department
          <input
            type="radio"
            name="inSideLocation"
            value="outOfDepartment"
            [checked]="isOutsideDepartment"
            (input)="location($event)"
          />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
    <div id="location" [class]="!isOutsideDepartment? 'd-none': ''">
      <div class="form-row">
        <div class="value">
          <div class="row row-space">
            <div class="col">
              <div class="name">Name</div>
              <div class="input-group-desc">
                <input
                  class="input--style-5 form-control"
                  type="text"
                  formControlName="addressName"
                />
              </div>
            </div>
            <div class="col">
              <div class="name">Street</div>
              <div class="input-group-desc">
                <input
                  class="input--style-5 form-control"
                  type="text"
                  formControlName="street"
                  [ngClass]="{ 'is-invalid': submitted && f['street'].errors }"
                />
                <div
                  *ngIf="submitted && f['street'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['street'].errors['streetError']">
                    {{ f['street'].errors?.['streetError'] }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="value">
          <div class="row row-space">
            <div class="col-4 col-sm-4">
              <div class="name">City</div>
              <div class="input-group-desc">
                <input
                  class="input--style-5 form-control"
                  type="text"
                  formControlName="city"
                />
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <div class="name">State</div>
              <div class="input-group-desc">
                <input
                  class="input--style-5 form-control"
                  type="text"
                  formControlName="state"
                />
              </div>
            </div>
            <div class="col-4 col-sm-4">
              <div class="name">Zip</div>
              <div class="input-group-desc">
                <input
                  class="input--style-5 form-control"
                  type="text"
                  formControlName="zip"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="value">
        <div class="name">Comment</div>
        <div class="input-group">
          <textarea
            formControlName="comment"
            class="input--style-5 form-control"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="value">
        <div class="name">Students</div>
        <div class="input-group">
          <p-multiSelect
            [options]="courseDetails?.lstEmployees"
            defaultLabel="Select Students"
            optionLabel="displayString"
            [style]="{'width': '895px', 'line-height': '12px'}"
            formControlName="employeeDetail"
            (onChange)="selectEmployee($event)"
          ></p-multiSelect>
        </div>
      </div>
    </div>
    <ng-container *ngIf=" isPostApplicableAreaListReadOnly">
      <div id="grdPOSTApplicableAreaListReadOnly">
        <p-table
          [value]="courseDetails.postApplicableAreaDetails"
          [paginator]="true"
          [rows]="5"
          [responsive]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="applicableGeneralAreas">
                Curriculum Area
                <p-sortIcon field="applicableGeneralAreas"></p-sortIcon>
              </th>
              <th pSortableColumn="applicableAreas">
                Area <p-sortIcon field="applicableAreas"></p-sortIcon>
              </th>
              <th pSortableColumn="credits">
                Credit <p-sortIcon field="credits"></p-sortIcon>
              </th>
              <th pSortableColumn="instructors">
                Instructor(s) <p-sortIcon field="instructors"></p-sortIcon>
              </th>
              <th pSortableColumn="outSideInstructors">
                OutSide Instructors
                <p-sortIcon field="outSideInstructors"></p-sortIcon>
              </th>
              <th style="width: 4em">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-course>
            <tr>
              <td>{{course.applicableGeneralAreas}}</td>
              <td>{{course.applicableAreas}}</td>
              <td>{{course.credits}}</td>
              <td>{{course.instructors}}</td>
              <td>{{course.outSideInstructors}}</td>
              <td></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ng-container>

    <ng-container *ngIf="showApplicableAreaTable">
      <div id="grdPOSTApplicableAreaList">
        <p-table
          [value]="courseDetails.postApplicableAreaDetails"
          [paginator]="true"
          [rows]="5"
          [responsive]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="applicableGeneralAreas">
                Curriculum Area
                <p-sortIcon field="applicableGeneralAreas"></p-sortIcon>
              </th>
              <th pSortableColumn="applicableAreas">
                Area <p-sortIcon field="applicableAreas"></p-sortIcon>
              </th>
              <th pSortableColumn="credits">
                Credit <p-sortIcon field="credits"></p-sortIcon>
              </th>
              <th pSortableColumn="instructors">
                Instructor(s) <p-sortIcon field="instructors"></p-sortIcon>
              </th>
              <th pSortableColumn="outSideInstructors">
                OutSide Instructors
                <p-sortIcon field="outSideInstructors"></p-sortIcon>
              </th>
              <th style="width: 4em">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-course>
            <tr>
              <td>{{course.applicableGeneralAreas}}</td>
              <td>{{course.applicableAreas}}</td>
              <td>{{course.credits}}</td>
              <td>{{course.instructors}}</td>
              <td>{{course.outSideInstructors}}</td>
              <td>btn</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ng-container>
    <div class="course-detail-dialog-btn">
      <!-- <ng-container *ngFor="let btn of actionButtons">
        <div *ngIf="btn.visible">
          <p-button
            [label]="btn.label"
            [icon]="btn.icon"
            styleClass="p-button-raised new-btn"
            [type]="btn.type"
            (onClick)="btnName(btn.label)"
          ></p-button>
        </div>
      </ng-container> -->
      <p-button
        label="Save & Close"
        [ngClass]="{'d-none': !showBtnSaveAndExitCourseDetails}"
        (onClick)="btnSaveAndCloseCourseDetails_Click()"
        styleClass="p-button-raised new-btn"
      ></p-button>

      <p-button
        label="Clone & Continue"
        [ngClass]="{'d-none': !showBtnClone}"
        (onClick)="btnSaveCourseDetails_Click()"
        styleClass="p-button-raised new-btn"
      ></p-button>

      <p-button
        label="Add Areas"
        [ngClass]="{'d-none': !showBtnAddAreas}"
        (onClick)="btnSaveCourseDetails_Click()"
        styleClass="p-button-raised new-btn"
      ></p-button>

      <p-button
        label="Confirm All Students"
        [ngClass]="{'d-none': !showBtnConfirmCourseDetails}"
        (onClick)="btnConfirmTraining_Click()"
        styleClass="p-button-raised new-btn"
      ></p-button>

      <p-button
        label="Edit Student Credits"
        [ngClass]="{'d-none': !showBtnEditStudentCredits}"
        (onClick)="btnEditStudentCredits_Click()"
        styleClass="p-button-raised new-btn"
      ></p-button>

      <p-button
        label="Save"
        [ngClass]="{'d-none': !showBtnSaveCourseDetails}"
        (onClick)="btnSaveCourseDetails_Click()"
        styleClass="p-button-raised new-btn"
      ></p-button>

      <p-button
        label="Cancel"
        (onClick)="btnExitCourseDetails_Click()"
        styleClass="p-button-raised new-btn"
      ></p-button>
    </div>
  </form>
</div>

<!-- <app-confirmation-dialog></app-confirmation-dialog> -->
