.dialog-title {
  border-color: #d2d2d2;
  border-width: 0 0 1px 0;
  background: #00aade;
  padding: 0.4em 1em;
  white-space: nowrap;
  cursor: default;
  font-size: 1.4em;
  color: #fff;
  line-height: 1.2rem;
}

.dialog-content {
  padding: 10px;
}

.dialog-content h4 {
  text-align: center;
  font-size: 26px;
  color: #636363;
  font-weight: 500;
}
